/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

@media (max-width: 768px) {
  #navbar-collapse {
    display: none;
  }
  #navbar-collapse.show {
    display: block;
  }
}

.post img {
 max-width: 100%;
}
