---
title: NYC Anarchist Groups
permalink: "/groups"
layout: simple-page
---

<div class="col-md-8 col-md-offset-2">
  <div class="content-grid">
    {% for group_section in site.data.groups %}
      <h2>{{group_section.title}}</h2>
      <ol>
        {% for group in group_section.groups %}
          <li>
            <img class="group-image" src="{{ group.image }}"/>
            <h2>
              {% if group.link %}
                <a href={{ group.link }}>{{ group.name }}</a>
              {% else %}
                {{ group.name }}
              {% endif %}
            </h2>
            <p>{{ group.description }}</p>
            {% if group.email %}
              <p>Contact: <a href="mailto:{{ group.email }}">{{ group.email }}</a></p>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endfor %}
  </div>
</div>
