<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">{% t footer.About_us %}</a></li>
            <li><a href="{% tl contact %}">{% t footer.Contact_us %}</a></li>
            <li><a href="https://github.com/MACCNYC/maccnyc.github.io">{% t footer.Website_Source %}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>


    {% capture translated_url %}{% tl {{page.namespace}} %}{% endcapture %}
    {% if translated_url == "" %}
      <a href="/es{{ page.url }}">Español</a> |
      <a href="{{ page.permalink }}">English</a>
    {% else %}
      <a href="{% tl {{page.namespace}} es %}">Español</a> |
      <a href="{% tl {{page.namespace}} en %}">English</a>
    {% endif %}

    </div>
  </div>
</footer>
