<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img class="brand-img" src="{{ '/img/logo.png' | prepend: site.baseurl_root }}" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/join">Join</a></li>
                <li><a href="{{ site.baseurl }}/donate">Donate</a></li>
                <li><a href="{{ site.baseurl }}/blog">Dispatches</a></li>
                <li><a href="{{ site.baseurl }}/events">Events</a></li>
                <li><a href="{{ site.baseurl }}/docs">Core Documents</a></li>
                <li><a href="{{ site.wikiurl }}">Wiki</a></li>
                <li>
                  <a href="http://www.twitter.com/macc_nyc" alt="twitter">
                    <img height="20px" src="{{ '/img/social/twitter-512.gif'| prepend: site.baseurl_root }}">
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/MACCnyc/" alt="facebook">
                    <img height="20px" src="{{ '/img/social/fb.png'| prepend: site.baseurl_root }}">
                  </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
