<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% t global.description %}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="og:image" content="/img/logo_rectangle.jpg">
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

<!-- CSS -->
<link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl_root }}" />
<link rel="stylesheet" href="{{ '/css/airspace.css'  | prepend: site.baseurl_root }}"/>
<link rel="stylesheet" href="{{ '/css/style.css'  | prepend: site.baseurl_root }}"/>
<link rel="stylesheet" href="{{ '/css/responsive.css'  | prepend: site.baseurl_root }}"/>
